# --- Analyse et manipulation de données ---
numpy
pandas
scipy

# --- Visualisation ---
matplotlib
seaborn
plotly
IPython

# --- Machine Learning ---
scikit-learn
xgboost
lightgbm

# --- Outils pratiques ---
tqdm
python-dotenv
jupyterlab

